.circle-progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .circle {
        display: inline-block;
        position: relative;
        margin-bottom: 15px;

        .progress {
            transform: rotate(-90deg);
            vertical-align: top;
        }

        .progress__meter,
        .progress__value {
            fill: none;
        }

        .progress__meter {
            stroke: $color_fill_light;
        }

        .progress__value {
            @include animate(.9s);
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            stroke: $color_brand;
        }

        .percent-wrap {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 25px;

            img {
                vertical-align: top;
            }

            h4 {
                color: inherit;
                font-size: 30px;
                margin: 0;
            }
        }
    }

    &-content {
        max-width: 60%;
        .percent-wrap {
            h4 {
                color: inherit;
                margin: 0;
            }
        } 
    }

    &-right,
    &-left {
        .circle-progress-bar-content{
            min-width: 70px;
        }

        .circle {
            margin: 0;
        }
    }

    &-right {
        flex-direction: row;

        .circle-progress-bar-content {
            @include spacer20(padding-left);
            text-align: left;
        }
    }

    &-left {
        flex-direction: row-reverse;

        .circle-progress-bar-content {
            @include spacer20(padding-right);
            text-align: right;
        }
    }
}