$message-box-colors: (
	'primary': lighten($color_brand_second, 26%),
	'success': lighten($color_brand_second, 26%),
	'error': lighten($color_error, 34%),
	'warning': lighten(#D97A0A, 44%)
);

.message-box {
	background-color: #f9f9f9;
	@include border_radius();
	margin: 0;
	padding: 10px 60px 10px 18px;
	min-height: 60px;
	@include flex_center();
	border: none;
	text-align: left;
	position: relative;
	color: rgba(#000, .7);

	@include sm_screen() {
		display: block;
	}

	strong {
		margin-right: 4px;
	}

	&.wauto {
		width: auto;
		display: inline-block;
		margin: 0 auto;
	}

	.clb-close {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 8px;

		.ion {
			font-size: 20px;
		}
	}

	&.without-close {
		padding-right: 20px;
	}

	&.hidden {
		display: none;
	}

	a {
		color: $color_dark;
		font-weight: 600;
		margin: 0 5px;
	}

	@each $class, $color in $message-box-colors {
		&.#{$class} {
			background: $color;
		}
	}
}