.site-header {
    background: transparent;
    border-bottom: 1px solid rgba(#000, .06);
    vertical-align: middle;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 60;

    @include sm_screen() {
        &.mobile-hamburger-position-right {
            .left-part,
            .menu-optional-left,
            .top-part {
                .clb-hamburger {
                    display: none;
                }
            }

            .right-part,
            .menu-optional-right,
            .bottom-part {
                .clb-hamburger {
                    display: block;
                }
            }
        }

        &.mobile-hamburger-position-left {
            .right-part,
            .menu-optional-right,
            .bottom-part {
                .clb-hamburger {
                    display: none;
                }
            }

            .left-part,
            .menu-optional-left,
            .top-part {
                .clb-hamburger {
                    display: block;
                }
            }
        }
        .header-wrap {
            .right-part,
            .menu-optional-right,
            .bottom-part {
                .clb-hamburger {
                    margin-left: 15px;
                    margin-right: 0;
                }
            }  
        }
    }

    svg {
        fill: currentColor;
    }

    .header-wrap {
        position: relative;
        z-index: 1;
        height: 130px;

        &:not(.page-container) {
            @include spacer40(padding-left);
            @include spacer40(padding-right);
        }

        @include note_screen() {
            height: 120px;
        }

        @include tablet_screen() {
            height: 100px;
        }

        .clb-social {
            display: none;
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            height: 100%;

            .left-part {
                white-space: nowrap;

                .clb-hamburger {
                    margin-right: 15px;

                    @include sm_screen() {
                        margin-right: 10px;
                    }
                }
            }

            .left-part,
            .right-part, 
            .top-part {
                display: flex;
                align-items: center;
            }

            .right-part {
                justify-content: flex-end;
            }

            &.vertical-inner {
                flex-direction: column;
            }

            .menu-optional {
                display: flex;
                align-items: center;

                > a:before {
                    display: none;
                }
            }
        }

        .lang-dropdown {
            font-weight: 600;
            font-size: .98em;
            font-family: $font_titles;

            .select {
                .select-options {
                    min-width: auto;
                }
            }
        }

        .top-part {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include tablet_screen() {

                &.page-container {
                    padding: 0;
                }
            }
        }

        .bottom-part {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    &:not(.mobile-header) {
        &.extended-menu {
            .clb-hamburger {
                display: none;
            }
        }
    }

    &:not(.mobile-header) {
        .lang-dropdown {
            .select {
                vertical-align: middle;
            }
        }

        &.hamburger-position-right {
            .left-part,
            .menu-optional-left,
            .top-part {
                .clb-hamburger {
                    display: none;
                }
            }

            .right-part,
            .menu-optional-right,
            .bottom-part {
                .clb-hamburger {
                    display: block;
                }
            }
        }

        &.hamburger-position-left {
            .right-part,
            .menu-optional-right,
            .bottom-part {
                .clb-hamburger {
                    display: none;
                }
            }

            .left-part,
            .menu-optional-left,
            .top-part {
                .clb-hamburger {
                    display: block;
                }
            }
        }
    }

    .widget_shopping_cart_content {
        .woocomerce-mini-cart__container {
            position: fixed;
            bottom: 20px;
            width: calc(100% - 80px);

            @include sm_screen {
                bottom: 15px;
                width: calc(100% - 40px);
            }
        }
    }

    ul {
        li {
            list-style: none;
        }
    }

    .site-branding .search a,
    a.hamburger,
    .menu-optional a {
        &:hover,
        &.visible,
        &.focus {
            opacity: 1;
        }
    }

    .site-branding {
        position: relative;
        @include flex_center();

        .site-title {
            font-weight: bold;
            font-size: 1.4em;

            .light {
                color: #fff;
            }
        }

        &:hover {
            opacity: .65;
            @include animate();
        }

        .logo,
        .mobile-logo,
        .for-onepage {
            img {
                max-height: 66px;
                display: flex;

                @include sm_screen() {
                    max-height: 46px;
                }
            }
        }

        .fixed-logo {
            display: none;
        }
    }

    .favorites-global,
    .search-global {
        display: inline-block;
    }

    &:not(.header-6) {
        .favorites-global,
        .search-global {
            .ion {
                font-size: 22px;
                color: inherit;
                background-color: transparent;
            }
        }    
    }

    .fixed-logo,
    .mobile-logo,
    .fixed-mobile-logo {
        display: none;
    }

    /*--------------------------------------------------------------
    ### Header Type2
    --------------------------------------------------------------*/

    @include md_screen {
        &.header-2 {
            background-color: #fff;

            .header-wrap {
                height: 200px;
                padding: 0;
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .menu-optional {
                    min-width: 20%;

                    &-right {
                        justify-content: flex-start;
                        @include flex_center();

                        li:first-child {
                            margin-left: 0;
                        }
                    }

                    &-right {
                        justify-content: flex-end;

                        li:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .top-part {
                    height: 100%;
                }

                .top-part.page-container {
                    &:after {
                        content: none;
                    }
                }

                .middle-part {
                    border-top: 1px solid rgba(#000, .06);
                    width: 100%;
                }

                .bottom-part {
                    height: 110px;
                }     
            }

            &.both-types {
                .lang-dropdown {
                    margin-left: 25px;
                }
            }
        }
    }

    /*--------------------------------------------------------------
    ### Header Type3
    --------------------------------------------------------------*/

    &.header-3 {
        .menu {
            @include sm_screen {
                display: initial;
                white-space: initial;
            }
        }

        .main-nav {
            @include sm_screen {
                position: static;
                left: auto;
                transform: none;
            }
        }
    }

    &.header-3:not(.mobile-header) {
        .menu {
            display: flex;
            white-space: nowrap;
        }

        .main-nav {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    /*--------------------------------------------------------------
    ### Header Type4
    --------------------------------------------------------------*/
    &.header-4 {
       .left-part {
            display: flex;
            align-items: center;
            justify-content: flex-start;
       }
    }

    &:not(.mobile-header) {
        &.header-4 {
            @include animate(opacity);
            opacity: 0;

            .main-nav {
                width: 100%;
                position: absolute;
                text-align: center;
                z-index: 11;
            }

            .site-branding {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                bottom: 0;
            }

            .site-title {
                width: auto;
                padding: 0 30px;
            }

            .site-branding .search {
                line-height: inherit;
                float: left;

                .icon {
                    font-size: 19px;
                    vertical-align: -2px;
                }
            }

            ul.menu {
                display: flex;
                flex-wrap: nowrap;

                > li {
                    text-align: left;
                    white-space: nowrap;

                    &.has-submenu {

                        > a .has-submenu-icon {
                            right: -20px;
                        }
                    }

                    &:last-child > a.menu-link .has-submenu-icon {
                        display: none;
                    }

                    &.without-divider > a.menu-link .has-submenu-icon {
                        display: none;
                    }
                }

                > ul.sub-menu {
                    left: 8px;
                }
            }

            .menu-wrap {
                position: relative;
            }

            .menu-optional {
                margin: 0;
                float: left;
                position: relative;
                z-index: 10;
                justify-content: flex-end;

                > li {
                    > a {
                        position: relative;
                    }

                    .submenu {
                        left: auto;
                        right: -4px;
                    }
                }

                .lang-dropdown {
                    float: none;
                }

                &.right-part {
                    .search {
                        display: none;
                    }
                }
            }

            .menu-optional-wrap {
                float: right;
            }

            .clb-hamburger {
                float: left;
            }
            
            @include sm_screen() {
                .menu-optional {
                    float: right;

                    &-wrap {
                        width: 100%;
                    }
                }

                .close-bar {
                    z-index: 20;
                }
            }

            .top-part {
                height: 100%;
                position: relative;
                
                .site-branding {
                    z-index: 12;
                }

                .main-nav {
                    position: absolute;
                    width: auto;
                    max-width: 100%;
                }
            }

            #mega-menu-wrap > ul > li.current-menu-item, 
            #mega-menu-wrap > ul > li.current-menu-ancestor {
                &:before {
                    top: -35px;
                }
            }

            .page-container {
                &:after {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 420px) {
        &.header-5 {
            opacity: 0;
        }
	}

    &:not(.mobile-header) {

        /*--------------------------------------------------------------
        ### Header Type5
        --------------------------------------------------------------*/

        &.header-5 {
            width: 300px;
            min-height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            padding: 0;
            background-color: #fff;

            .header-wrap {
                height: 100vh;
                @include spacer40();

                .top-part {
                    justify-content: flex-start;

                    .clb-hamburger {
                        margin-right: 15px;
                    }

                    .site-branding {
                        flex-grow: 2;
                    }

                    .search-global:not(.fixed) {
                        float: right;
                    }  
                }

                .bottom-part {
                    justify-content: flex-start;
                }
            }

            // Menu
            .main-nav {
                position: static;

                .menu {
                    li {
                        font-size: 20px;
                        letter-spacing: -0.02em;

                        a {
                            width: 100%;
                            line-height: 24px;
                            padding: 5px 0px;

                            .has-submenu-icon {
                                margin: 0;
                            }
                        }
                    }

                    .nav-item.menu-item-depth-0 {
                        position: relative;
                    }

                    > .nav-item {
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        position: static;


                        &.active-main-item {
                            > .menu-link {
                                color: $color_brand; 
                            }
                        }

                        &.has-submenu {
                            &.menu-item-depth-0 {
                                > .menu-link {

                                    i.menu-plus {
                                        display: initial;
                                    }

                                    i.menu-chevron {
                                        display: none;
                                    }

                                    @include sm_screen() {
                                        i.menu-plus {
                                            display: none;
                                        }

                                        i.menu-chevron {
                                            display: initial;
                                        }
                                    }

                                    &:hover {
                                        .has-submenu-icon {
                                            transform: rotate(-45deg);
                                        }
                                    }
                                }
                            }
                        }

                        .sub-nav-item {
                            position: static !important;
                            @include spacer40(padding-left);
                            @include spacer40(padding-right);
                        }

                        // Hamburger menu items

                        .sub-nav,
                        .sub-sub-nav {
                            position: absolute;
                            left: 100% !important;
                            height: 100%;
                            background-color: transparent;
                            @include flex_center();
                            z-index: -1;
                            visibility: hidden;
                            @include animate();
                            color: #fff;
                            top: 0;

                        }

                        .sub-nav {
                            @include spacer40(margin-left);
                        }

                        .sub-nav.visible {
                            z-index: 10;
                        }

                        .sub-menu, 
                        .sub-sub-menu {
                            background: transparent;
                            box-shadow: none;
                            margin: 0;
                            min-width: calc(100vw/5 - 50px);
                            padding-top: 0;
                            padding-bottom: 0;
                            position: absolute;
                            top: 0;
                            left: 0;

                            li {
                                a {
                                    text-transform: none;
                                    @include animate(opacity);
                                }

                                &.visible > a, &:hover > a {
                                    background: transparent;
                                    opacity: .5;
                                }
                            }
                        }

                        > .sub-nav {
                            &:after {
                                content: '';
                                height: 100vh;
                                background: rgba($color_dark, .99);
                                position: fixed;
                                left: 300px;
                                right: 0;
                                top: 0;
                                z-index: 1;
                                visibility: hidden;
                                opacity: 0;
                                @include animate();
                                pointer-events: none;
                            }
                        }

                        > a.visible + .sub-nav:after,
                        &:hover > .sub-nav:after {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            // Menu optional

            .menu-optional {
                position: relative;
                flex-direction: column;
                justify-content: flex-end;

                .cart-holder {
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                }

                > li {
                    margin: 0;
                    width: 100%;

                    // Cart
                    .submenu_cart {
                        top: auto;
                        right: auto;
                        left: 0;
                        margin-bottom: calc(56px + 30px);
                        position: fixed;
                        @include spacer40(bottom);
                        @include spacer40(margin-left);
                    }
                }
            }
        }

        /*--------------------------------------------------------------
        ### Header Type6
        --------------------------------------------------------------*/

        &.header-6 {
            background: #fff;
            position: fixed;
            width: 90px;
            left: 0;
            top: 0;
            height: 100%;
            border-bottom: none;

            &.site-header,
            .header-wrap {
                padding: 0;
            }

            & ~ .clb-hamburger-nav {
                &.split {
                    left: 80px;
                    z-index: 100;
                }

                .close-bar {
                    padding: 15px;
                }
            }

            .vertical-inner {
                @include spacer30(padding-top);
                @include spacer30(padding-bottom);
            }

            .submenu_cart {
                top: auto;
                right: auto;
                left: 80px;
                @include spacer40(margin-left);
                @include spacer40(bottom);
                position: fixed;
            }

            .main-nav {
                display: none;
            }

            .top-part {
                &-inner {
                    @include flex_center();
                    justify-content: center;
                    width: 100%;
                    position: relative;
                }

                .site-branding {
                    position: absolute;
                    top: 66px;
                    left: 0;
                    min-width: 35vh;
                    min-height: 90px;
                    transform-origin: left top;
                    transform: rotate(-90deg) translate(-100%, 0%);
                    justify-content: flex-end;
                }
            }

            &.header-fixed {
                .header-wrap {
                    height: 100%;
                }
            }

            .header-wrap {
                height: 100%;
            }

            .bottom-part {
                flex-direction: column;
                height: auto;

                // Menu optional

                .menu-optional {
                    flex-direction: column;
                    align-items: center;

                    > li {
                        margin: 0;
                    }

                    .btn-optional {
                        transform: rotate(-90deg);
                        margin-bottom: 50px;
                        white-space: nowrap;
                    }

                    .favorites-global,
                    .search-global {
                        margin-top: 10px;
                    }

                    .cart-holder {
                        flex-direction: column;
                    }

                    .cart-total {
                        margin: 25% 0;
                        transform: rotate(-90deg);
                    }
                }

                .lang-dropdown {
                    transform-origin: center center;
                    transform: rotate(-90deg);
                    margin-bottom: 50px;
                    position: relative;
                    min-width: 130px;

                    .select-options {
                        transform: rotate(90deg);
                        transform-origin: 0% 0%;
                        left: 100%;
                    }
                }
            }
        }

        &.header-1,
        &.header-3,
        &.header-4 {
             .menu-depth-1 {
                top: -.8em;
            }
        }

        @include tablet_screen {
            &.header-1, 
            &.header-2,
            &.header-3,
            &.header-4 {
                .mbl-overlay,
                .mbl-overlay-container, 
                .main-nav-container {
                    height: 100%;
                }

                .main-nav-container {
                    @include flex_center();
                }
            }
        }
    }

    &.mobile-header {
        &.header-2 {
            .search {
                padding-right: 10px;
            }
        }

        &.header-4 {
            .main-nav.active {
                z-index: 20;
            }

            .menu-optional {
                position: static;
            }


            .left-part {
                .menu-optional {
                    .search {
                        display: none;
                    }
                }
            }
        }

        &.header-5 {
            opacity: 1;
            
            .site-branding {
                .search {
                   display: none;
                }
            }

            .bottom-part {
                .search {
                    a {
                        padding: 0 10px;
                        color: inherit;
                        display: inline-block;

                        .icon {
                            vertical-align: middle;
                            margin-top: -2px;
                            font-size: 20px;
                        }
                    }
                }

                .wishlist {
                    span {
                        display: none;
                    }
                }
            }
        }

        &.header-5,
        &.header-6 {
            .header-wrap-inner {
                flex-direction: row;
                
                .top-part {
                    justify-content: flex-start;
                    align-items: center;
                }

                .bottom-part {
                    justify-content: flex-end;
                }
            }
        }

        &.header-6 {
            display: block;

            .top-part-inner {
                display: flex;
            }
        }

        .header-wrap {
            .clb-social {
                display: flex;
                right: 0;
                margin-right: 0 !important;
            }

            .mbl-overlay.visible {
                .clb-social {
                    visibility: visible;
                }
            }
        }

        .lang-dropdown {
            display: none;
        }
    }

    &.header-6 {
        @include tablet_screen() {
            display: none;
        }
    }

    /*--------------------------------------------------------------
    ### Header Fixed
    --------------------------------------------------------------*/

    &.header-fixed {
        background: #fff;
        margin: 0;
        position: fixed;
        border-bottom: 1px solid transparent;
        top: 0;
        opacity: 0 !important;
        visibility: hidden !important;
        transform: translate3d(0, -15px, 0);

        .header-wrap {
            height: 70px;
        }

        &.showed {
            opacity: 1 !important;
            visibility: visible !important;
            transform: translate3d(0, 0, 0);
            z-index: 1000;
            @include animate(.5s);


            #mega-menu-wrap > ul > li.current-menu-item, 
            #mega-menu-wrap > ul > li.current-menu-ancestor {
                &:before {
                    top: -10px;
                }
            }
        }

        &.no-transition {
            transition: none;
        }

        &.with-header-cap {
            margin: 0;
        }

        &.subheader-open {
            margin-top: 38px;
        }

        // Logo

        .site-branding {
            img {
                max-height: 46px;
            }
        }
    }

    &.header-2,
    &.header-4 {
        @include sm_screen {
            .top-part {
                height: 100%;
            }

            .menu-optional.text-right,
            .menu-optional.text-left {
                display: flex;
                align-items: center;

                li {
                    display: flex;
                }
            }

            .menu-optional.text-left {
                .wishlist {
                    display: none;
                } 
            }
        }
    }

    .header-wrap.wrapped-container {
        padding: 0 15px;
    }

    @include sm_screen {
        .logo.with-mobile {
            display: none;
        }

        .mobile-logo {
            @include flex_center();
        }
    }
}

.header-cap {
    width: 100%;
    height: 130px;

    @include note_screen() {
        height: 120px;
    }

    @include tablet_screen() {
        height: 100px;
    }
}

.boxed-container {
	.site-header .header-wrap {
		padding: 0 30px 0 30px;
	}
}

// Header overwrites

.slider-with-bullets:not(.slider-with-bullets-type5):not(.slider-with-bullets-type8) {
    .site-header,
    .clb-slider-nav-btn,
    .clb-social,
    .sticky-nav {
        @include spacer40(margin-right);
    }
}

.slider-with-bullets {
    &.slider-with-bullets-type5 {
        .site-header,
        .clb-slider-nav-btn,
        .clb-social {
            @include spacer40(margin-right);
        }
    }

    &.slider-with-bullets-type8 {
        .clb-slider-nav-btn,
        .clb-social {
            @include spacer40(margin-right);
        }
    }
}

body:not(.is-mobile-menu) {
    &.with-header-2 {
        .header-cap {
            height: 200px;
        }
    }

    &.with-header-5 {
        &.with-spacer {
            .site-content,
            .site-footer,
            [data-vc-stretch-content],
            .elementor-section-stretched {
                padding-left: 300px;
            }
        }

        .close-bar {
            justify-content: flex-end;
        }
        
        .header-cap {
            position: fixed;
            height: 100%;
            width: 300px;
            left: 0;
            top: 0;
        }

        .clb-scroll-top,
        .search-global.fixed,
        .clb-mode-switcher,
        .clb-back-link {
            margin-left: 300px;
        }

        &[data-elementor-device-mode=mobile] {

            .header-5 {
                display: none;
            }

            .site-content,
            .site-footer,
            [data-vc-stretch-content],
            .elementor-section-stretched {
                padding-left: 0;
            }
        }
    }

    &.with-header-6 {
        &.with-spacer {
            .site-content,
            .site-footer {
                margin-left: 90px;
            }

            [data-vc-stretch-content],
            .elementor-section-stretched {
                padding-left: 90px;
            }
        }

        .header-cap {
            position: fixed;
            height: 100%;
            width: 90px;
            left: 0;
            top: 0;
        }

        .clb-scroll-top,
        .search-global.fixed,
        .clb-mode-switcher,
        .clb-back-link {
            margin-left: 90px;
        }

        .search-global.fixed {
            @include spacer30(bottom);
        }

        
        &[data-elementor-device-mode=mobile] {

            .header-6 {
                display: none;
            }

            .site-content,
            .site-footer,
            [data-vc-stretch-content],
            .elementor-section-stretched {
                margin-left: 0;
            }
        }

        @include tablet_screen() {
            &.with-spacer {
                .site-content,
                .site-footer {
                    margin-left: 0px;
                }
    
                [data-vc-stretch-content] {
                    padding-left: 0px;
                }
            }
        }
    }

    // Purchase button overrides

    &.with-header-5,
    &.with-header-6 {
        .btn.purchase-theme {
            bottom: 120px;
            left: auto;
            right: 26px;
            margin: 0;
        }
    }
}

@media screen and (max-width: 420px) {
    .with-header-5 {

        .site-content,
        .site-footer,
        [data-vc-stretch-content],
        .elementor-section-stretched {
            padding-left: 0 !important;
        }


        .clb-scroll-top,
        .search-global.fixed,
        .clb-mode-switcher,
        .clb-back-link {
            margin-left: 0 !important;
        }

        .header-cap {
            height: 100px !important;
            position: relative !important;
        }
    }
}

.elementor-html {
    .site-header:not(.header-5):not(.header-6) {
        z-index: 0;
    }
}

body.page-is-loaded {
    @include tablet_screen() {
        .header-6 {
            display: block;
        }

        .main-nav {
            display: block;
        }

        &.with-spacer.with-header-6:not(.is-mobile-menu) {
            .site-content,
            .site-footer {
                margin-left: 90px;
            }

            [data-vc-stretch-content] {
                padding-left: 90px;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .with-header-5 {
        &.single-post {
            .post-share {
                .clb-share-bar {
                    left: 10px;
                }
            }
        }
    }

    .with-header-6 {
        &.single-post {
            .post-share {
                .clb-share-bar {
                    left: -30px;
                }
            }
        }
    }
}