.font-titles {
	font-family: $font_titles;
}

/*--------------------------------------------------------------
## Headings
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font_titles;
	font-weight: bold;
	text-align: inherit;
	position: relative;
	color: $color_dark;
	letter-spacing: -0.01em;

	&.title {
		margin: 0;
	}

	&.heading-md,
	&.comment-reply-title {
		font-size: 1.4em !important;
		margin: 0px 0px 20px 0px;
		letter-spacing: -0.01em;
	}

	&.heading-sm {
		margin: 5px 0px;
		font-weight: 600;
	}
}

.woocommerce-additional-fields,
.woocommerce-MyAccount-content {
	h3 {
		font-size: 1.4em;
		margin: 0px 0px 20px 0px;
		letter-spacing: -0.01em;
	}
}

h1 {
	@include fluid-type($font_size_h1_mobile, $font_size_h1);
	line-height: 1;
	letter-spacing: -0.03em;

	@include sm_screen() {
		line-height: 1 !important;
	}
}

h2 {
	@include fluid-type($font_size_h2_mobile, $font_size_h2);
	line-height: 1.05;
	letter-spacing: -0.02em;
}

h3 {
	@include fluid-type($font_size_h3_mobile, $font_size_h3);
	line-height: 1.1;
}

h4 {
	@include fluid-type($font_size_h4_mobile, $font_size_h4);
	line-height: 1.35;
}

h5 {
	@include fluid-type($font_size_h5_mobile, $font_size_h5);
	line-height: 1.3;
}

h6 {
	font-size: 1.05em;
	line-height: 1.3;
	letter-spacing: 0;
}

/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/

p {
	width: 100%;
	margin: 10px auto;
	display: block;

	&.text-small {
		font-size: $font_size_small;
	}
}

.has-regular-font-size {
	font-size: $font_size_regular;
	font-family: inherit;
}

.has-extra-small-font-size {
	font-size: 0.867em;
}

.has-small-font-size {
	font-size: 0.934em;
}

.has-large-font-size {
	font-size: 1.6875em;
	font-weight: 500;
}

.has-larger-font-size {
	font-size: 1.9875em;
}

.text-wrap {
	margin: 6px 0;

	*:first-child {
		margin-top: 0;
	}
}

.text-split {
	p {
		padding-left: 10px;
		padding-right: 10px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}