.dark-scheme {
	&,
	.woo-cart_item_values p span,
	.select-holder select,
	.search-form .search-submit, 
	.woocommerce-product-search .search-submit,
	p.subtitle, .subtitle-font, 
	.heading .subtitle,
	.site-footer:not(.clb__dark_section),
	.site-footer:not(.clb__dark_section) .site-info,
	.pricing_list_item.disabled,
	a.category {
		color: rgba(#fff, .75);
	}

	h1, h2, h3, h4, h5, h6,
	.socialbar a,
	.font-titles,
	.price,
	.product-item-price,
	.woo-cart_item_name .woo-c_product > a,
	.clb-blank-image i,
	.ohio-slider-sc .btn-round .ion,
	.site-footer:not(.clb__dark_section) .widget-title,
	.site-footer:not(.clb__dark_section) .btn-flat,
	.btn-play.btn-round-outline .ion,
	.socialbar.boxed a i,
	.counter-box-count,
	.woo_c-product-details .star-rating {
		color: #fff;
	}

	mark {
		background: rgba($color_green, .25);
	}

	.site-content,
	.site-header:not(.mobile-header).header-5,
	.site-footer:not(.clb__dark_section),
	.horizontal_accordionItem,
	.clb-page-headline:before {
		background-color: #1a191d;
	}

	.horizontal_accordionItem {
		&:hover {
			background-color: lighten(#1a191d, .5%);
		}
	}
	
	.select2-container--default .select2-results > .select2-results__options,
	.sticky-nav,
	.notification-bar,
	.clb-popup-product .woo_c-product,
	.header-fixed .clb-hamburger,
	.site-header:not(.header-5) .sub-menu,
	.submenu_cart,
	.clb-mode-switcher,
	.sticky-nav_item h6,
	.sticky-product,
	.sticky-product .price,
	.clb-popup-product .price,
	.clb-popup-product .woo_c-product-details-title,
	.site-header.header-fixed,
	.clb-share-bar .socialbar i,
	.clb-subscribe,
	.sticky-product-desc .btn,
	.clb-subscribe .btn,
	.select-holder option,
	.widget_shopping_cart_content .mini-cart-description .mini-cart-item-title > a:not(:hover),
	.product-item .btn-round-light,
	.woocommerce-mini-cart__buttons .button:first-child,
	.mobile-header .nav-item a,
	.mobile-header .sub-nav-item a {
		color: initial;
	}

	.site-header .site-branding .site-title {
		.logo,
		.mobile-logo {
			.main-logo {
				display: none;
			}
	
			.dark-scheme-logo {
				display: block;
			}
		}
	}

	.site-footer {
		.widget_ohio_widget_logo {
			.theme-logo {
				.main-logo {
					display: none;
				}
		
				.dark-scheme-logo {
					display: block;
				}
			}
		}
	}

	// Override Classes

	// Soft light fill
	.clb__dark_mode_inverse .vc_column-inner,
	.dark_mode_light_row,
	.dark_mode_light_column > .elementor-column-wrap,
	.dark_mode_light_widget > .elementor-widget-container {
		background-color: rgba(#ffffff, .025) !important;
	}

	// Dark fill
	.clb__dark_mode_fill .vc_column-inner,
	.dark_mode_dark_row,
	.dark_mode_dark_column > .elementor-column-wrap,
	.dark_mode_dark_widget > .elementor-widget-container {
		background-color: rgba(#1a191d, .95) !important;
	}

	.clb__dark_mode_spacer {
		&, .elementor-spacer {
			background-color: #1a191d !important;
		}
	}

	.clb__dark_mode_spacer_light {
		&, .elementor-spacer {
			background-color: rgba($color_neutral, 0.05) !important;
		}
	}

	.clb__dark_mode_spacer_reset {
		&, .elementor-spacer {
			background-color: transparent !important;
		}
	}

	.clb__dark_mode_image {
		img {
			mix-blend-mode: multiply;
		}
	}

	.vc_row {
		.vc-bg-lines {
			div {
				background-color: rgba(#fff, .03);
			}
		}
	}

	// Border color
	
	.woo-cart_item,
	.project-page .project-meta li,
	table td, table th, 
	.wp-block-table td, 
	.wp-block-table th,
	.socialbar.outline a,
	.woo_c-product-details-variations,
	.icon-box.shape-border .icon-box-icon,
	.wp-block-quote:not(.is-large):not(.is-style-large),
	.woo_c-product-details-variations .single_variation_wrap .woo-variation-price,
	.contact-form.outline input[type="email"],
	blockquote, q {
		border-color: rgba(#fff, .15);
	}

	.circle-progress-bar .circle .progress__meter {
		stroke: rgba(#fff, .1);
	}

	// Background color

	&.single-post .widget_ohio_widget_about_author,
	.woo_c-product .single-product-tabs .tab-items-container,
	.clb-woo-sidebar,
	.menu.menu-blank,
	.blog-grid.boxed .blog-grid-content,
	.blog-grid-type-4:not(.without-media),
	.accordion:not(.outline) .accordionItem_title,
	.woo_c-products .product-item.product-item-boxed .product-item-details,
	.service:hover,
	.blog-grid-type-4:not(.without-media), 
	.blog-grid.boxed:not(.blog-grid-type-2):not(.blog-grid-type-6) .blog-grid-content, 
	.blog-grid-type-6.boxed,
	.tab.filled,
	.product-category--boxed {
		background-color: rgba(#fff, .025);
	}
	
	.comments-container {
		background: transparent;
	}

	// Slider Revolution overlay

	rs-sbg:after {
		content: "";
		background-color: rgba($color_dark, .5);
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
	}

	.btn,
	.button,
	.alt {
		color: #fff;

		&:not(.btn-elementor-colored):not(.btn-link):not(.btn-outline):not(.comment-author-admin):not(.btn-flat):not(.btn-brand):not(.purchase-theme):not(.product_type_external):not(.product_type_grouped):not(.wc-forward):not(.btn-subscribe):not(.add_to_cart_button):not(.feedback):not(.add_to_wishlist):not(.view-cart):not(:hover):not(:active):not(:focus) {
			background-color: darken($color_neutral, 10%);
			border-color: darken($color_neutral, 10%);
		}

		&.btn-outline {
			border-color: darken($color_neutral, 10%);
		}
	}

	.wc-proceed-to-checkout {
		.button:not(:hover):not(:active):not(:focus) {
			background-color: darken($color_neutral, 10%);
			border-color: darken($color_neutral, 10%);
		}
	}

	.select2-container--default .select2-selection--single,
	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	.select-holder select,
	textarea {
		color: inherit;
		background-color: rgba(#fff, .05);
	}

	.clb-popup {
		.clb-subscribe {
			input[type="email"] {
				background: $color_fill_light;
			}
		}
	}

	@for $i from 1 through 6 {
	    h#{7 - $i} {
	    	&.clb-subscribe-content-headline,
	    	&.sticky-nav_heading,
	    	&.cart_heading_title {
	    		color: initial;
	    	}
	    }
	}
}

body:not(.dark-scheme) {
	.site-header .site-branding .site-title {
		.logo,
		.mobile-logo {
			.dark-scheme-logo {
				display: none;
			}
		}
	}

	.site-footer {
		.widget_ohio_widget_logo {
			.theme-logo {
				.dark-scheme-logo {
					display: none;
				}
			}
		}
	}
}