.site-footer {
	background-color: $color_fill_light;
	
	@include lg_screen() {
		&.sticky {
			width: 100%;
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 1;
			visibility: hidden;

			&.visible {
				visibility: visible;
			}
		}
	}

	.widget {
		padding-top: 30px;

		&:first-child {
			padding-top: 0;
		}

		@include tablet_screen() {
			padding-top: 25px;

			&:first-child {
				padding-top: 25px;
			}
		}
	}

	// Widgets overrides
	
	.widgets {
		padding: 90px 0;
		list-style: none;

		@include tablet_screen() {
			padding: 35px 0 50px;
		}

		// Subscribe

		.subscribe-form {
			input[type="email"] {
				background-color: rgba($color_neutral, .06);
			}

			.btn {
				.text {
					@include animate();
				}

				&:hover,
				&:focus {
					.text {
						color: #fff;
					}
				}
			}
		}

		//Icons
		.socialbar {
			a:hover {
				color: #fff;
			}

			i:hover {
				opacity: 1;
			}
		}
	}

	@include sm_screen() {
		.widgets {
			padding: 20px 0px;
		}	
	}

	.page-container {
	 	& + .site-info {
	 		.site-info-holder {
		 		border-top: 1px solid rgba($color_neutral, .1);
		 	}
	 	}

	 	&.full {
	 		@include spacer40(padding-left);
	    	@include spacer40(padding-right);
	 	}
	}

	.site-info {
		font-size: $font_size_small;

		&-holder {
			@include spacer30(padding-top);
			@include spacer30(padding-bottom);
			@include clearfix();
		}
	}

	@include sm_screen() {
		.left, 
		.right {
			width: 100%;
			text-align: left;
		}

		.right {
			margin-top: 10px;
		}
	}
}