.ohio-masonry {
	@include animate(height, .25s);
}

.breadcrumbs + .page-container {
    .blog-posts-masonry,
    .portfolio-grid {
        margin-top: -$grid_spacer;

        &.grid-offset {
            margin: 0;
        }
    }

    .portfolio-sorting + .portfolio-grid {
        margin-top: 0;
    }
}

// Offset grid styles

.grid-offset {
    margin: 0 20px;

    .grid-item {
        &.masonry-block {
            padding: 0;
        }
    }
}

// Default cards grid

.grid-item {
	&.masonry-block {
		padding: $grid_spacer;

		.blog-grid:not(.boxed):not(.blog-grid-type-6) {
			margin-bottom: $grid_spacer;
		}
	}

    &.blog-post-masonry {
        @include animate();
    }

	&:not(.masonry-block) {
		margin-bottom: 40px;

        @include sm_screen() {
            padding-left: 0;
            padding-right: 0;
        }
	}

    @include sm_screen {
        width: 100%;   
    }
}

.clb-asymmetric-parallax-grid > * {
    transition: none !important;
}

// Structure

.vc_row:after,
.vc_row:before {
    content: " ";
    display: table
}

.vc_row:after {
    clear: both
}

@media (max-width:767px) {
    .vc_hidden-xs {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .vc_hidden-sm {
        display: none!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .vc_hidden-md {
        display: none!important
    }
}

@media (min-width:1200px) {
    .vc_hidden-lg {
        display: none!important
    }
}

// Row
.vc_row,
.vc_row.masonry,
.vc_row.portfolio-grid,
.vc_row.wpb_row,
.vc_row.woo_c-products,
.vc_row.blog-posts-masonry,
.vc_row.tab-items-container,
.site-footer .vc_row,
.breadcrumbs .vc_row,
.project-page-content > .vc_row,
.project-page > .vc_row,
.comments-container .vc_row,
.woo_c-product .page-container > .vc_row,
.clb-page-headline-holder .vc_row {
    margin-left: -$grid_spacer;
    margin-right: -$grid_spacer;
}

// Columns
div[class^='vc_col-'] {
    position: relative;
    min-height: 1px;
    padding-left: $grid_spacer;
    padding-right: $grid_spacer;
    box-sizing: border-box;
}

.vc_col-xs-1,
.vc_col-xs-10,
.vc_col-xs-11,
.vc_col-xs-12,
.vc_col-xs-2,
.vc_col-xs-3,
.vc_col-xs-4,
.vc_col-xs-5,
.vc_col-xs-6,
.vc_col-xs-7,
.vc_col-xs-8,
.vc_col-xs-9 {
    float: left;
}

.rtl .vc_rtl-columns-reverse .vc_col-xs-1,
.rtl .vc_rtl-columns-reverse .vc_col-xs-10,
.rtl .vc_rtl-columns-reverse .vc_col-xs-11,
.rtl .vc_rtl-columns-reverse .vc_col-xs-12,
.rtl .vc_rtl-columns-reverse .vc_col-xs-2,
.rtl .vc_rtl-columns-reverse .vc_col-xs-3,
.rtl .vc_rtl-columns-reverse .vc_col-xs-4,
.rtl .vc_rtl-columns-reverse .vc_col-xs-5,
.rtl .vc_rtl-columns-reverse .vc_col-xs-6,
.rtl .vc_rtl-columns-reverse .vc_col-xs-7,
.rtl .vc_rtl-columns-reverse .vc_col-xs-8,
.rtl .vc_rtl-columns-reverse .vc_col-xs-9 {
    float: right;
}

.vc_col-xs-12 {
    width: 100%;
}

.vc_col-xs-11 {
    width: calc(100%/12 * 11);
}

.vc_col-xs-10 {
    width: calc(100%/12 * 10);
}

.vc_col-xs-9 {
    width: 75%;
}

.vc_col-xs-8 {
    width: calc(100%/12 * 8);
}

.vc_col-xs-7 {
    width: calc(100%/12 * 7);
}

.vc_col-xs-6 {
    width: 50%;
}

.vc_col-xs-5 {
    width: calc(100%/12 * 5);
}

.vc_col-xs-4 {
    width: calc(100%/12 * 4);
}

.vc_col-xs-3 {
    width: 25%;
}

.vc_col-xs-2 {
    width: calc(100%/12 * 2);
}

.vc_col-xs-1 {
    width: calc(100%/12 * 1);
}

.vc_col-xs-pull-12 {
    right: 100%;
}

.vc_col-xs-pull-11 {
    right: calc(100%/12 * 11);
}

.vc_col-xs-pull-10 {
    right: calc(100%/12 * 10);
}

.vc_col-xs-pull-9 {
    right: 75%;
}

.vc_col-xs-pull-8 {
    right: calc(100%/12 * 8);
}

.vc_col-xs-pull-7 {
    right: calc(100%/12 * 7);
}

.vc_col-xs-pull-6 {
    right: 50%;
}

.vc_col-xs-pull-5 {
    right: calc(100%/12 * 5);
}

.vc_col-xs-pull-4 {
    right: calc(100%/12 * 4);
}

.vc_col-xs-pull-3 {
    right: 25%;
}

.vc_col-xs-pull-2 {
    right: calc(100%/12 * 2);
}

.vc_col-xs-pull-1 {
    right: calc(100%/12 * 1);
}

.vc_col-xs-pull-0 {
    right: auto;
}

.vc_col-xs-push-12 {
    left: 100%;
}

.vc_col-xs-push-11 {
    left: calc(100%/12 * 11);
}

.vc_col-xs-push-10 {
    left: calc(100%/12 * 10);
}

.vc_col-xs-push-9 {
    left: 75%;
}

.vc_col-xs-push-8 {
    left: calc(100%/12 * 8);
}

.vc_col-xs-push-7 {
    left: calc(100%/12 * 7);
}

.vc_col-xs-push-6 {
    left: 50%;
}

.vc_col-xs-push-5 {
    left: calc(100%/12 * 5);
}

.vc_col-xs-push-4 {
    left: calc(100%/12 * 4);
}

.vc_col-xs-push-3 {
    left: 25%;
}

.vc_col-xs-push-2 {
    left: calc(100%/12 * 2);
}

.vc_col-xs-push-1 {
    left: calc(100%/12 * 1);
}

.vc_col-xs-push-0 {
    left: auto;
}

.vc_col-xs-offset-12 {
    margin-left: 100%;
}

.vc_col-xs-offset-11 {
    margin-left: calc(100%/12 * 11);
}

.vc_col-xs-offset-10 {
    margin-left: calc(100%/12 * 10);
}

.vc_col-xs-offset-9 {
    margin-left: 75%;
}

.vc_col-xs-offset-8 {
    margin-left: calc(100%/12 * 8);
}

.vc_col-xs-offset-7 {
    margin-left: calc(100%/12 * 7);
}

.vc_col-xs-offset-6 {
    margin-left: 50%;
}

.vc_col-xs-offset-5 {
    margin-left: calc(100%/12 * 5);
}

.vc_col-xs-offset-4 {
    margin-left: calc(100%/12 * 4);
}

.vc_col-xs-offset-3 {
    margin-left: 25%;
}

.vc_col-xs-offset-2 {
    margin-left: calc(100%/12 * 2);
}

.vc_col-xs-offset-1 {
    margin-left: calc(100%/12 * 1);
}

.vc_col-xs-offset-0 {
    margin-left: 0;
}

@media (min-width: 768px) {
    .vc_col-sm-1,
    .vc_col-sm-10,
    .vc_col-sm-11,
    .vc_col-sm-12,
    .vc_col-sm-2,
    .vc_col-sm-3,
    .vc_col-sm-4,
    .vc_col-sm-5,
    .vc_col-sm-6,
    .vc_col-sm-7,
    .vc_col-sm-8,
    .vc_col-sm-9 {
        float: left;
    }

    .rtl .vc_rtl-columns-reverse .vc_col-sm-1,
    .rtl .vc_rtl-columns-reverse .vc_col-sm-10,
    .rtl .vc_rtl-columns-reverse .vc_col-sm-11,
    .rtl .vc_rtl-columns-reverse .vc_col-sm-12,
    .rtl .vc_rtl-columns-reverse .vc_col-sm-2,
    .rtl .vc_rtl-columns-reverse .vc_col-sm-3,
    .rtl .vc_rtl-columns-reverse .vc_col-sm-4,
    .rtl .vc_rtl-columns-reverse .vc_col-sm-5,
    .rtl .vc_rtl-columns-reverse .vc_col-sm-6,
    .rtl .vc_rtl-columns-reverse .vc_col-sm-7,
    .rtl .vc_rtl-columns-reverse .vc_col-sm-8,
    .rtl .vc_rtl-columns-reverse .vc_col-sm-9 {
        float: right;
    }

    .vc_col-sm-12 {
        width: 100%;
    }

    .vc_col-sm-11 {
        width: 91.66666667%;
    }

    .vc_col-sm-10 {
        width: 83.33333333%;
    }

    .vc_col-sm-9 {
        width: 75%;
    }

    .vc_col-sm-8 {
        width: 66.66666667%;
    }

    .vc_col-sm-7 {
        width: 58.33333333%;
    }

    .vc_col-sm-6 {
        width: 50%;
    }

    .vc_col-sm-5 {
        width: 41.66666667%;
    }

    .vc_col-sm-4 {
        width: 33.33333333%;
    }

    .vc_col-sm-3 {
        width: 25%;
    }

    .vc_col-sm-2 {
        width: 16.66666667%;
    }

    .vc_col-sm-1 {
        width: 8.33333333%
    }

    .vc_col-sm-pull-12 {
        right: 100%
    }

    .vc_col-sm-pull-11 {
        right: 91.66666667%;
    }

    .vc_col-sm-pull-10 {
        right: 83.33333333%;
    }

    .vc_col-sm-pull-9 {
        right: 75%;
    }

    .vc_col-sm-pull-8 {
        right: 66.66666667%;
    }

    .vc_col-sm-pull-7 {
        right: 58.33333333%;
    }

    .vc_col-sm-pull-6 {
        right: 50%;
    }

    .vc_col-sm-pull-5 {
        right: 41.66666667%;
    }

    .vc_col-sm-pull-4 {
        right: 33.33333333%;
    }

    .vc_col-sm-pull-3 {
        right: 25%;
    }

    .vc_col-sm-pull-2 {
        right: 16.66666667%;
    }

    .vc_col-sm-pull-1 {
        right: 8.33333333%;
    }
    .vc_col-sm-pull-0 {
        right: auto;
    }
    .vc_col-sm-push-12 {
        left: 100%;
    }
    .vc_col-sm-push-11 {
        left: 91.66666667%;
    }
    .vc_col-sm-push-10 {
        left: 83.33333333%;
    }
    .vc_col-sm-push-9 {
        left: 75%;
    }
    .vc_col-sm-push-8 {
        left: 66.66666667%;
    }
    .vc_col-sm-push-7 {
        left: 58.33333333%;
    }
    .vc_col-sm-push-6 {
        left: 50%;
    }

    .vc_col-sm-push-5 {
        left: 41.66666667%;
    }

    .vc_col-sm-push-4 {
        left: 33.33333333%;
    }

    .vc_col-sm-push-3 {
        left: 25%;
    }

    .vc_col-sm-push-2 {
        left: 16.66666667%;
    }

    .vc_col-sm-push-1 {
        left: 8.33333333%;
    }

    .vc_col-sm-push-0 {
        left: auto;
    }

    .vc_col-sm-offset-12 {
        margin-left: 100%;
    }

    .vc_col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .vc_col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .vc_col-sm-offset-9 {
        margin-left: 75%;
    }

    .vc_col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .vc_col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .vc_col-sm-offset-6 {
        margin-left: 50%;
    }

    .vc_col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .vc_col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .vc_col-sm-offset-3 {
        margin-left: 25%;
    }

    .vc_col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .vc_col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .vc_col-sm-offset-0 {
        margin-left: 0;
    }

    .vc_col-sm-1\/5 {
        width: 20%;
    }

    .vc_col-sm-2\/5 {
        width: 40%;
    }

    .vc_col-sm-3\/5 {
        width: 60%;
    }

    .vc_col-sm-4\/5 {
        width: 80%;
    }

    .vc_col-sm-5\/5 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .vc_col-md-1,
    .vc_col-md-10,
    .vc_col-md-11,
    .vc_col-md-12,
    .vc_col-md-2,
    .vc_col-md-3,
    .vc_col-md-4,
    .vc_col-md-5,
    .vc_col-md-6,
    .vc_col-md-7,
    .vc_col-md-8,
    .vc_col-md-9 {
        float: left;
    }

    .rtl .vc_rtl-columns-reverse .vc_col-md-1,
    .rtl .vc_rtl-columns-reverse .vc_col-md-10,
    .rtl .vc_rtl-columns-reverse .vc_col-md-11,
    .rtl .vc_rtl-columns-reverse .vc_col-md-12,
    .rtl .vc_rtl-columns-reverse .vc_col-md-2,
    .rtl .vc_rtl-columns-reverse .vc_col-md-3,
    .rtl .vc_rtl-columns-reverse .vc_col-md-4,
    .rtl .vc_rtl-columns-reverse .vc_col-md-5,
    .rtl .vc_rtl-columns-reverse .vc_col-md-6,
    .rtl .vc_rtl-columns-reverse .vc_col-md-7,
    .rtl .vc_rtl-columns-reverse .vc_col-md-8,
    .rtl .vc_rtl-columns-reverse .vc_col-md-9 {
        float: right
    }
    .vc_col-md-12 {
        width: 100%
    }
    .vc_col-md-11 {
        width: 91.66666667%
    }
    .vc_col-md-10 {
        width: 83.33333333%
    }
    .vc_col-md-9 {
        width: 75%
    }
    .vc_col-md-8 {
        width: 66.66666667%
    }
    .vc_col-md-7 {
        width: 58.33333333%
    }
    .vc_col-md-6 {
        width: 50%
    }
    .vc_col-md-5 {
        width: 41.66666667%
    }
    .vc_col-md-4 {
        width: 33.33333333%
    }
    .vc_col-md-3 {
        width: 25%
    }
    .vc_col-md-2 {
        width: 16.66666667%
    }
    .vc_col-md-1 {
        width: 8.33333333%
    }
    .vc_col-md-pull-12 {
        right: 100%
    }
    .vc_col-md-pull-11 {
        right: 91.66666667%
    }
    .vc_col-md-pull-10 {
        right: 83.33333333%
    }
    .vc_col-md-pull-9 {
        right: 75%
    }
    .vc_col-md-pull-8 {
        right: 66.66666667%
    }
    .vc_col-md-pull-7 {
        right: 58.33333333%
    }
    .vc_col-md-pull-6 {
        right: 50%
    }
    .vc_col-md-pull-5 {
        right: 41.66666667%
    }
    .vc_col-md-pull-4 {
        right: 33.33333333%
    }
    .vc_col-md-pull-3 {
        right: 25%
    }
    .vc_col-md-pull-2 {
        right: 16.66666667%
    }
    .vc_col-md-pull-1 {
        right: 8.33333333%
    }
    .vc_col-md-pull-0 {
        right: auto
    }
    .vc_col-md-push-12 {
        left: 100%
    }
    .vc_col-md-push-11 {
        left: 91.66666667%
    }
    .vc_col-md-push-10 {
        left: 83.33333333%
    }
    .vc_col-md-push-9 {
        left: 75%
    }
    .vc_col-md-push-8 {
        left: 66.66666667%
    }
    .vc_col-md-push-7 {
        left: 58.33333333%
    }
    .vc_col-md-push-6 {
        left: 50%
    }
    .vc_col-md-push-5 {
        left: 41.66666667%
    }
    .vc_col-md-push-4 {
        left: 33.33333333%
    }
    .vc_col-md-push-3 {
        left: 25%
    }
    .vc_col-md-push-2 {
        left: 16.66666667%
    }
    .vc_col-md-push-1 {
        left: 8.33333333%
    }
    .vc_col-md-push-0 {
        left: auto
    }
    .vc_col-md-offset-12 {
        margin-left: 100%
    }
    .vc_col-md-offset-11 {
        margin-left: 91.66666667%
    }
    .vc_col-md-offset-10 {
        margin-left: 83.33333333%
    }
    .vc_col-md-offset-9 {
        margin-left: 75%
    }
    .vc_col-md-offset-8 {
        margin-left: 66.66666667%
    }
    .vc_col-md-offset-7 {
        margin-left: 58.33333333%
    }
    .vc_col-md-offset-6 {
        margin-left: 50%
    }
    .vc_col-md-offset-5 {
        margin-left: 41.66666667%
    }
    .vc_col-md-offset-4 {
        margin-left: 33.33333333%
    }
    .vc_col-md-offset-3 {
        margin-left: 25%
    }
    .vc_col-md-offset-2 {
        margin-left: 16.66666667%
    }
    .vc_col-md-offset-1 {
        margin-left: 8.33333333%
    }
    .vc_col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px) {
    .vc_col-lg-1,
    .vc_col-lg-10,
    .vc_col-lg-11,
    .vc_col-lg-12,
    .vc_col-lg-2,
    .vc_col-lg-3,
    .vc_col-lg-4,
    .vc_col-lg-5,
    .vc_col-lg-6,
    .vc_col-lg-7,
    .vc_col-lg-8,
    .vc_col-lg-9 {
        float: left
    }
    .rtl .vc_rtl-columns-reverse .vc_col-lg-1,
    .rtl .vc_rtl-columns-reverse .vc_col-lg-10,
    .rtl .vc_rtl-columns-reverse .vc_col-lg-11,
    .rtl .vc_rtl-columns-reverse .vc_col-lg-12,
    .rtl .vc_rtl-columns-reverse .vc_col-lg-2,
    .rtl .vc_rtl-columns-reverse .vc_col-lg-3,
    .rtl .vc_rtl-columns-reverse .vc_col-lg-4,
    .rtl .vc_rtl-columns-reverse .vc_col-lg-5,
    .rtl .vc_rtl-columns-reverse .vc_col-lg-6,
    .rtl .vc_rtl-columns-reverse .vc_col-lg-7,
    .rtl .vc_rtl-columns-reverse .vc_col-lg-8,
    .rtl .vc_rtl-columns-reverse .vc_col-lg-9 {
        float: right
    }
    .vc_col-lg-12 {
        width: 100%
    }
    .vc_col-lg-11 {
        width: 91.66666667%
    }
    .vc_col-lg-10 {
        width: 83.33333333%
    }
    .vc_col-lg-9 {
        width: 75%
    }
    .vc_col-lg-8 {
        width: 66.66666667%
    }
    .vc_col-lg-7 {
        width: 58.33333333%
    }
    .vc_col-lg-6 {
        width: 50%
    }
    .vc_col-lg-5 {
        width: 41.66666667%
    }
    .vc_col-lg-4 {
        width: 33.33333333%
    }
    .vc_col-lg-3 {
        width: 25%
    }
    .vc_col-lg-2 {
        width: 16.66666667%
    }
    .vc_col-lg-1 {
        width: 8.33333333%
    }
    .vc_col-lg-5th {
        width: 20% !important;
    }
    .vc_col-lg-pull-12 {
        right: 100%
    }
    .vc_col-lg-pull-11 {
        right: 91.66666667%
    }
    .vc_col-lg-pull-10 {
        right: 83.33333333%
    }
    .vc_col-lg-pull-9 {
        right: 75%
    }
    .vc_col-lg-pull-8 {
        right: 66.66666667%
    }
    .vc_col-lg-pull-7 {
        right: 58.33333333%
    }
    .vc_col-lg-pull-6 {
        right: 50%
    }
    .vc_col-lg-pull-5 {
        right: 41.66666667%
    }
    .vc_col-lg-pull-4 {
        right: 33.33333333%
    }
    .vc_col-lg-pull-3 {
        right: 25%
    }
    .vc_col-lg-pull-2 {
        right: 16.66666667%
    }
    .vc_col-lg-pull-1 {
        right: 8.33333333%
    }
    .vc_col-lg-pull-0 {
        right: auto
    }
    .vc_col-lg-push-12 {
        left: 100%
    }
    .vc_col-lg-push-11 {
        left: 91.66666667%
    }
    .vc_col-lg-push-10 {
        left: 83.33333333%
    }
    .vc_col-lg-push-9 {
        left: 75%
    }
    .vc_col-lg-push-8 {
        left: 66.66666667%
    }
    .vc_col-lg-push-7 {
        left: 58.33333333%
    }
    .vc_col-lg-push-6 {
        left: 50%
    }
    .vc_col-lg-push-5 {
        left: 41.66666667%
    }
    .vc_col-lg-push-4 {
        left: 33.33333333%
    }
    .vc_col-lg-push-3 {
        left: 25%
    }
    .vc_col-lg-push-2 {
        left: 16.66666667%
    }
    .vc_col-lg-push-1 {
        left: 8.33333333%
    }
    .vc_col-lg-push-0 {
        left: auto
    }
    .vc_col-lg-offset-12 {
        margin-left: 100%
    }
    .vc_col-lg-offset-11 {
        margin-left: 91.66666667%
    }
    .vc_col-lg-offset-10 {
        margin-left: 83.33333333%
    }
    .vc_col-lg-offset-9 {
        margin-left: 75%
    }
    .vc_col-lg-offset-8 {
        margin-left: 66.66666667%
    }
    .vc_col-lg-offset-7 {
        margin-left: 58.33333333%
    }
    .vc_col-lg-offset-6 {
        margin-left: 50%
    }
    .vc_col-lg-offset-5 {
        margin-left: 41.66666667%
    }
    .vc_col-lg-offset-4 {
        margin-left: 33.33333333%
    }
    .vc_col-lg-offset-3 {
        margin-left: 25%
    }
    .vc_col-lg-offset-2 {
        margin-left: 16.66666667%
    }
    .vc_col-lg-offset-1 {
        margin-left: 8.33333333%
    }
    .vc_col-lg-offset-0 {
        margin-left: 0
    }
}

.vc_pull-right {
    float: right!important
}

.vc_pull-left {
    float: left!important
}

.vc_row:not(.vc_row-no-padding) {
    .vc_column_container {
        > .vc_column-inner {
            padding-left: $grid_spacer;
            padding-right: $grid_spacer;
        }
    }
}

.vc_section {
    padding-left: $grid_spacer;
    padding-right: $grid_spacer;
    margin-left: -$grid_spacer;
    margin-right: -$grid_spacer;
}