.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.site-content {
	min-height: calc(100vh - 107px);
	background-color: #fff;
}

i.ion {
	vertical-align: middle;
}

/*--------------------------------------------------------------
## Blank page
--------------------------------------------------------------*/

.clb-blank {
	display: flex;
	max-width: 30vw;
	align-items: center;
	flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    @include spacer40();

	&-image {
		background-color: rgba($color_error, .08);
	    width: 90px;
	    height: 90px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    @include border_radius(50px);

	    i {
	    	font-size: 40px;
	    	color: $color_text;
	    }

	    svg {
	    	width: 20px;
			vertical-align: middle;
			fill: $color_text;
	    }
	}

	&-headline {
		width: 100%;
		text-align: center;    
		margin: 20px 0px 10px;
		@include fluid-type($font_size_h4, 32px);
	}

	&-details {
		margin: 0px 0px 30px;
		font-size: $font_size_large;
		line-height: $font_lh;

		@include sm_screen() {
			max-width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&-search {
		min-width: 300px;
	}

	// Mobile styles

	@include sm_screen() {
		margin-top: 15vh;
		max-width: 100%;

		&-search {
			min-width: 100%;
		}
	}
}

.header-cap + .clb-blank {
	margin-top: calc(20vh - 130px);
}

.woocommerce-account {
	.clb-blank {
		margin: 0;
		padding: 0;
		max-width: auto;

		&-headline {
			@include fluid-type($font_size_h4, 26px);
			margin-bottom: 20px;
		}
	}
}

/*--------------------------------------------------------------
## Blank shortcode
--------------------------------------------------------------*/

.clb-blank-note {
	@include flex_top();
	background-color: rgba($color_neutral, .1);
	z-index: 1;
	padding: 20px;
	@include border_radius();
	margin: 10px 0;
	font-size: .98em;

	&-inner {
		margin-top: 5px;
	}

	.ion {
		font-size: 35px;
		margin-right: 12px;
	}
}

/*--------------------------------------------------------------
## Authorization page
--------------------------------------------------------------*/
.page-auth {
	background: #444 url('./images/bg-full.jpg');
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: relative;

	// overlay
	&:before {
		content: '';
		background: rgba(52,52,54,.75);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.page-auth-wrap {
		text-align: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		form {
			background: #fff;
			width: 460px;
			margin: 0 auto;
			padding: 60px;

			input {
				margin-bottom: 15px;
			}

			button.btn {
				margin-top: 0;
			}
		}
	}
}

// Password protected form

.post-password-form {
	text-align: left;
	padding: 2em 0px;

	@include lg_screen() {
		width: 50%;
	}

	input[type="password"] {
		margin: 8px 0px 15px;
	}
}

/*--------------------------------------------------------------
## Search page
--------------------------------------------------------------*/

.search.woocommerce {
	.result {
		display: none;
	}
}


/*--------------------------------------------------------------
## Global page animation
--------------------------------------------------------------*/
.global-page-animation {
	> #page {
		opacity: 0;
		margin-top: -25px;
		@include animate();
		transition-duration: .5s;
	}

	&.global-page-animation-active > #page {
		opacity: 1;
		margin-top: 0;	
	}

	&.global-page-animation-fade-out {
		> #page {
			opacity: 0;
			margin-top: -25px;
		}
	}
}



