.page-container {
	max-width: $size_container;
	margin: 0 auto;
	padding: 0px $spacer_20;
	position: relative;
	
	// 1440px
	@include note_screen() {
		max-width: $size_container_laptop;
	}

	// 1366px
	@media screen and (max-width: 1366px) {
		max-width: 1190px;
	}

	// 1280px
	@media screen and (max-width: 1280px) {
	    max-width: 1100px;
	}

	@include sm_screen () {
		padding: 0px $spacer_20;
	}

	&.full {
		max-width: none;
		padding-left: 0;
		padding-right: 0;

		@include sm_screen () {
			padding-left: $spacer_20 !important;
			padding-right: $spacer_20 !important;
		}
	}

	&.top-offset {
		@include spacer80(padding-top);
	}

	&.bottom-offset {
		@include spacer80(padding-bottom);
		padding-bottom: 80px;
	}

	&:after {
		content: '';
		clear: both;
		display: table;
	}
}

// Custom page width

@include lg_screen () {
	.single-post:not(.single-post-sidebar),
	.woocommerce-account,
	.woocommerce-cart,
	.woocommerce-checkout,
	.woocommerce-wishlist {
		.site-content,
		.clb-page-headline,
		.breadcrumbs {
			.page-container {
				.vc_row:not(.vc_row-reset):not(.wpb_row) {
					padding-left: calc(100%/15 * 1);
					padding-right: calc(100%/15 * 1);
				}
			}
		}
	}

	.single-post:not(.single-post-sidebar) {
		.site-content {
			.page-container {
				.vc_row {
					.vc_row.portfolio-grid {
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
		}
	}

	.woocommerce-account:not(.logged-in) {
		.site-content {
			.page-container {
				.vc_row {
					padding-left: calc(100%/15 * 3);
					padding-right: calc(100%/15 * 3);
				}
			}
		}
	}
}

.boxed-container {
	max-width: $size_container;
	margin: 0px auto;
	z-index: 2;
	position: relative;
	overflow: hidden;
}

.page-content {
	width: 100%;
	float: left;

	&.with-left-sidebar {
		width: 75%;
		float: right;
	}

	&.with-right-sidebar {
		width: 75%;
		float: left;
	}

	@include sm_screen(){
		&.with-left-sidebar,
		&.with-right-sidebar {
			width: 100%;
		}
	}
}

.single-post {
	.page-content {
		&.with-left-sidebar,
		&.with-right-sidebar {
			.content-area {
				.vc_col-lg-8 {
					left: auto;
					width: 100%;
				}
			}
		}
	}
}