.pagination {
	margin-top: 25px;
	font-size: 1em;
	font-family: $font_titles;

	li {
		display: inline-block;
		font-weight: 600;
		padding: 0;

		.btn,
		.page-numbers {
			margin: 0px 4px;
			padding: 0px 4px;
			height: 36px;
			line-height: 36px;
			vertical-align: top;
			display: inline-block;

			.ion {
				vertical-align: middle;
				margin-top: -3px;
			}

			&.active,
			&.current {
				color: $color_brand;

				&:before {
					width: 100%;
					opacity: 1;
				}
			}
		}

		.page-numbers {
			> .btn {
				padding: 0;
			}	
		}

		.page-numbers.current {
			position: relative;

			&:before {
				content: '';
				background: currentColor;
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: -2px;
				left: 0;
			}
		}

		&:first-child {
			.btn,
			.page-numbers {
				margin-left: 0;
			}
		}

		&:last-child {
			.btn,
			.page-numbers {
				margin-right: 0;
			}
		}
	}
}

.page-links {
	font-weight: 600;

	a {
		margin: 0 5px;
	}
}

.lazy-load {
	margin: auto;
	@include spacer30(margin-top);
	@include spacer30(margin-bottom);
	display: block;
	font-weight: 600;
	@include animate();

	.btn-round {
		margin-right: 10px;
		display: inline-block;

		.ion {
			vertical-align: middle;
			fill: $color_dark;
			color: currentColor;
			font-size: 26px;
		}
	}

	&[data-lazy-load-loading=""] { 
		display: none; 
	}

	&.active,
	&.is-loading {
		.ion:before {
			animation: mymove 1s linear 0s infinite;
			box-shadow: none;
		}
	}

	&.load-more {
		.loading-text {
			display: none;
		}

		&.active,
		&.is-loading {
			.loadmore-text {
				display: none;
			}
			
			.loading-text {
				display: inline;
			}
		}
	}
}

// Standard pagination

.pagination-standard {
	li {
		.btn,
		.page-numbers {
			background-color: rgba($color_neutral, .05);
			color: currentColor;
			@include border_radius();
			height: 42px;
			min-width: 42px;
			line-height: 42px;
			text-align: center;
			padding: 0px 15px;

			&:before {
				display: none;
			}

			.ion {
				color: currentColor;
			}

			&:hover {
				background-color: rgba($color_neutral, .08);
			}

			&.active,
			&.current {
				background-color: $color_dark;
				color: #fff !important;

				&:hover {
					color: #fff;
				}
			}
		}
	}
}

@keyframes mymove {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}